// MISC COMPONENTS
src/components/calendar/edit-appointment.jsx
src/components/patient/revert.jsx
src/components/patient/stage.jsx
src/components/treatment/old-form.jsx
src/components/treatment/stage.jsx
src/components/comprised-stage.jsx

// NPM
node_modules
package-lock.json
